.Signotator {
    @apply inline-block w-full border border-signotatormain-600 p-1 rounded;
    max-width: 360px;
    & > * { @apply w-full; }
    & > nav {
        @apply flex space-x-1;
        & button {
            @apply p-1 flex-1 bg-signotatorbg;
            @apply border-x border-t border-signotatormain-600/50 rounded-t;
            &:disabled { @apply border-signotatormain-600 bg-signotatormain-200; }
            &:hover { @apply border-signotatormain-600 bg-signotatormain-200; }
        }
    }
}

.Signotator > div {
    @apply border border-signotatormain-600 bg-signotatorbg;
    & table { @apply w-full text-center; }
    & td {
        @apply p-1 border-0 border-signotatorbtns-600;
        &:first-child { @apply pl-2; }
        &:last-child { @apply pr-2; }
    }
    & tr:first-child td { @apply pt-2; }
    & tr:last-child td { @apply pb-2; }
    & button {
        @apply p-0 w-12 h-12 align-middle rounded border text-gray-600 border-gray-600;
        &:not(:disabled) { @apply border-signotatorbtns-600 text-signotatorbtns-700 bg-signotatorbtns-200/50 hover:bg-signotatorbtns-300; }
        &.actual { @apply bg-signotatorbtns-300; }
        &.finish:not(:disabled) { @apply text-signotatormain-700 border-signotatormain-600 bg-signotatormain-300/50 hover:bg-signotatormain-300; }
        & svg { @apply p-0 stroke-current; }
    }
    & .VectorIcon {
        @apply stroke-signotatormain-600/80;
        vector-effect: non-scaling-stroke;
    }
}

.Signotator svg {
    @apply p-2;
    & .Arrow {
        vector-effect: non-scaling-stroke;
        stroke-width: 1.30;
        @apply fill-signotatorbtns-200/50 stroke-signotatorbtns-600;
        &.enabled:hover { @apply cursor-pointer fill-signotatorbtns-300/80; }
        &.actual { @apply cursor-pointer stroke-signotatorbtns-600 fill-signotatorbtns-300; }
        &.disabled { @apply stroke-gray-600 fill-transparent; }
    }
    & .Locus {
        @apply fill-transparent cursor-pointer;
        &:hover { @apply fill-signotatorbtns-200; }
        &.actual { @apply fill-signotatorbtns-300; }
    }
    & .BodyOutline {
        vector-effect: non-scaling-stroke;
        stroke-width: 1.50;
        @apply stroke-signotatorbtns-700;
    }
}

.signotation {
    @apply font-mono;
    color: #ef4444;
    & .q { color: #9d174d; }
    & .o { color: #3f6212; }
    & .l { color: #0f766e; }
    & .c { color: #db2777; }
    & :is(.e, .g, .d) { color: #92400e; }
    & .arc { color: #b45309; }
    & .h2 { color: #1d4ed8; }
    & :is(.sep, .sym, .dyn) { color: #5b21b6; }
    & .unknown { font-weight: bold; }
}
